ion-img::part(image){
    width: auto;
    height: 250px;
}

on-item {
    display: flex;
    align-items: stretch;
    
    ion-label {
      flex-grow: 1; 
      display: flex;
      flex-direction: column; 
      justify-content: space-between; 
    }
  
    ion-note {
      text-align: right; 
    }
  
    ion-button {
      height: 100%; 
    }
  }